        .center {
            position: absolute;
            margin-bottom: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.2vw;
            color:white;
        }
        #garis{
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translate(-50%, -50%);
            background:orange;
            width:8%;
            height:0.5%;
        }
        #garis_text{
            width:180px;
            height:2px;
            background:orange;
            top:50px;
            position: absolute;
        }
        #garis_text2{
            width:200px;
            height:2px;
            background:orange;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        #garis_text3{
            width:150px;
            height:1px;
            background: rgb(218, 218, 218);
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #nava{
            font-family: 'clear sans';
            src: url('css/ClearSans-Medium.ttf');
            right:0px;
            color:orange;
            font-size:50px;
        }
        #savana{
            margin-top: -20px;
            font-family: 'clear sans';
            src: url('css/ClearSans-Medium.ttf');
            left:0px;
            color:orange;
            font-size:50px;
        }
        #type{
            font-family: 'opensans';
            src: url('css/OpenSans-Regular.ttf');
            margin-left: 86px;
            color:black;
            font-size:20px;
            margin-top:-37px;
        }
        #type_savana{
            font-family: 'opensans';
            src: url('css/OpenSans-Regular.ttf');
            color:black;
            font-size:20px;
            margin-top:-37px;
        }
        #kv{
            position: absolute;
            top: 63%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3.2vw;
            color:orange;
            font-family: 'Montserrat', sans-serif;
        }
        #text_kawasan{
            position: absolute;
            font-family: 'opensans';
            src: url('css/OpenSans-Regular.ttf');
            font-size: 3.2vmin;
            top:100px;

        }
        .gambar_nava{
            position:absolute;
            top:200px;
        }
        h3{
            font-family: 'clear sans';
            src: url('css/ClearSans-Medium.ttf');
            color:orange;
        }
        #text_nava{
            margin-top: 20px;
            text-align:left;
            src: url('css/OpenSans-Regular.ttf');
            font-size:2.8vh;
        }
        #text_savana{
            text-align:right;
            src: url('css/OpenSans-Regular.ttf');
            font-size:2.8vh;
        }
        #garis_container{
            width:100%;
            height:5px;
            background:orange;
            margin-top:50px;
        }
        #commercial{
            margin-left:35%;
            margin-top:40px;
            width:200px;
            height:3px;
            background:orange;

        }
        #titik_sentral{
            margin-left:35%;
            font-family: 'opensans';
            src: url('css/OpenSans-Regular.ttf');
            font-size:20px;
            margin-top:30px;
            margin-bottom:40px;
        }
        #titik_sentral1{
            margin-left:35%;
            font-size:20px;
        }
        .site-logo-footer{
            font-weight: 200;
            font-family: "Playfair Display";
            color: white;
        }

        @media (max-width: 992px) {
            .img-atas{
                width: 120%;
                height: 250%;
            }

            .center{
                top: 47%;
                font-size: 2.5vw;
            }

            #garis{
                top: 53%;
            }

            #kv{
                font-size: 3.5vw;
                text-align: center;
            }
        }

        @media (max-width: 768px) {
            .img-atas{
                width: 150%;
                height: 250%;
            }

            .center{
                top: 46%;
                font-size: 3.5vw;
            }

            #garis{
                top: 52%;
            }

            #kv{
                font-size: 5vw;
                text-align: center;
            }
        }

        @media (max-width: 576px) {
            .img-atas{
                width: 250%;
                height: 400%;
            }

            .center{
                top: 40%;
                font-size: 5vw;
            }

            #garis{
                top: 46%;
            }

            #kv{
                font-size: 7vw;
                text-align: center;
                top: 60%;
            }
        }
